[Unit]
Description=OneDesk
Requires=network.target
After=systemd-user-sessions.service

[Service]
Type=simple
ExecStart=/usr/bin/onedesk --service
# kill --tray and --server both
ExecStop=pkill -f "onedesk --"
# below two lines do not work, have to use above one line
#ExecStop=pkill -f "onedesk --tray"
#ExecStop=pkill -f "onedesk --server"
PIDFile=/run/onedesk.pid
KillMode=mixed
TimeoutStopSec=30
User=root
LimitNOFILE=100000
Environment="PULSE_LATENCY_MSEC=60" "PIPEWIRE_LATENCY=1024/48000"

[Install]
WantedBy=multi-user.target
